<section id="contact" class=" text-white">

    <div class="text-center">
        <h2 class="text-2xl font-semibold">Don't be shy get in touch :)</h2>
        <p class="text-600 mt-4">Feel free to reach out to me for any inquiries or collaboration.</p>
    </div>
    <div class="w-full flex justify-center mt-4">
        <div class="mr-2 p-2">
            <a href="mailto:jasmeet.salh@gmail.com" class="img-btn">
                <img class="social-media-icons w-12 h-12" src="https://img.icons8.com/ios-filled/500/FFFFFF/gmail-new.png" alt="gmail-new">
            </a>
        </div>
        <div class="mr-2 p-2">
            <a href="https://github.com/jasmeetSSalh" class="img-btn">
                <img class="social-media-icons w-12 h-12" src="https://img.icons8.com/ios/500/FFFFFF/github--v1.png" alt="github--v1"/>
            </a>
        </div>
        <div class="mr-2 p-2">
            <a href="https://www.linkedin.com/in/jasmeet-salh-884486240/" class="img-btn">
                <img class="social-media-icons w-12 h-12" src="https://img.icons8.com/ios-filled/50/FFFFFF/linkedin.png" alt="linkedin">
            </a>
        </div>
    </div>

    <!-- <div class="flex justify-center mt-8">
        <form class="w-full sm:w-1/2 p-6 rounded-lg" (ngSubmit)="sendEmail()">
        <div class="mb-4">
            <label for="name" class="block text-sm font-medium text-white-700">Name</label>
            <input
            type="text"
            id="name"
            [(ngModel)]="formData.name"
            name="name"
            class="text-gray-700 w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring focus:ring-blue-500"
            placeholder="Your Name"
            />
        </div>
    
        <div class="mb-4">
            <label for="email" class="block text-sm font-medium text-white-700">Email</label>
            <input
            type="email"
            id="email"
            [(ngModel)]="formData.email"
            name="email"
            class="text-gray-700 w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring focus:ring-blue-500"
            placeholder="Your Email"
            />
        </div>
    
        <div class="mb-6">
            <label for="message" class="block text-sm font-medium text-white-700">Message</label>
            <textarea
            id="message"
            [(ngModel)]="formData.message"
            name="message"
            class="text-gray-700 w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring focus:ring-blue-500"
            rows="4"
            placeholder="Your Message"
            ></textarea>
        </div>
    
        <div class="text-center">
            <button
            type="submit"
            class="bg-sky-600 text-white py-2 px-6 rounded-full text-sm font-semibold hover:bg-teal-700 transition-colors"
            >
            Send Message
            </button>
        </div>
        </form>
  </div>
   -->
       
</section>