<section id="about" class="flex items-center justify-center h-screen ">
    <div class="relative isolate overflow-hidden py-24 sm:py-32 gap-8">
      <div class="mx-auto max-w-7xl px-6 lg:px-8 mb-8">
        <div class="max-w-2xl lg:mx-0 ">
          <h2 class="text-5xl font-semibold tracking-tight text-white sm:text-7xl mb-8">About Me</h2>
          <p class="mt-8 text-pretty text-lg font-medium text-gray-300 sm:text-xl/8">Hi, I’m Jasmeet Salh, a driven Software Engineer passionate about creating impactful solutions and optimizing workflows. I enjoy solving problems, building innovative tools, and turning complex ideas into practical applications.
              With experience collaborating in cross-functional teams and mentoring aspiring coders, I bring strong communication, leadership, and adaptability to every project. Whether developing applications or inspiring others, I thrive on creativity and continuous learning.
              Let’s build something extraordinary together!</p>
        </div>
        <div class="mx-auto max-w-2xl lg:mx-0 mt-16">
          <dl class="mt-16 grid grid-cols-1 lg:grid-cols-2 gap-8">
            <div class="flex flex-col">
              <ul class="flex flex-col gap-4 skills-bar-container">
                <li>
                  <div class="progressbar-title">
                    <h3>Angular</h3>
                  </div>
                  <div class="bar-container">
                    <span class="progressbar progressgreen" id="progress-angular" style="width: 75%;"></span>
                  </div>
                </li>
                <li>
                  <div class="progressbar-title">
                    <h3>TypeScript</h3>
                  </div>
                  <div class="bar-container">
                    <span class="progressbar progressblue" id="progress-typescript" style="width: 70%;"></span>
                  </div>
                </li>
                <li>
                  <div class="progressbar-title">
                    <h3>.NET</h3>
                  </div>
                  <div class="bar-container">
                    <span class="progressbar progressorange" id="progress-.net" style="width: 60%;"></span>
                  </div>
                </li>
                <li>
                  <div class="progressbar-title">
                    <h3>Java</h3>
                  </div>
                  <div class="bar-container">
                    <span class="progressbar progresspurple" id="progress-java" style="width: 70%;"></span>
                  </div>
                </li>
                <li>
                  <div class="progressbar-title">
                    <h3>Python</h3>
                  </div>
                  <div class="bar-container">
                    <span class="progressbar progressred" id="progress-python" style="width: 50%;"></span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="flex flex-col">
              <ul class="flex flex-col gap-4 skills-bar-container">
                
                <li>
                  <div class="progressbar-title">
                    <h3>MySQL</h3>
                  </div>
                  <div class="bar-container">
                    <span class="progressbar progresscyan" id="progress-mysql" style="width: 80%;"></span>
                  </div>
                </li>
                <li>
                  <div class="progressbar-title">
                    <h3>Oracle</h3>
                  </div>
                  <div class="bar-container">
                    <span class="progressbar progresslime" id="progress-oracle" style="width: 60%;"></span>
                  </div>
                </li>
                <li>
                  <div class="progressbar-title">
                    <h3>PowerBI</h3>
                  </div>
                  <div class="bar-container">
                    <span class="progressbar progressamber" id="progress-powerbi" style="width: 70%;"></span>
                  </div>
                </li>
                <li>
                  <div class="progressbar-title">
                    <h3>C#</h3>
                  </div>
                  <div class="bar-container">
                    <span class="progressbar progressdeeporange" id="progress-csharp" style="width: 40%;"></span>
                  </div>
                </li>
                <li>
                  <div class="progressbar-title">
                    <h3>DevOps</h3>
                  </div>
                  <div class="bar-container">
                    <span class="progressbar progresslightgreen" id="progress-devops" style="width: 50%;"></span>
                  </div>
                </li>
              </ul>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </section>
  