@tailwind base;
@tailwind components;
@tailwind utilities;

.image-responsive {
    width: 35rem;
    transition: all 0.3s ease;
  }
  
  @media (max-width: 768px) { /* Adjust the breakpoint as needed */
    .image-responsive {
      width: 20rem;
      padding-bottom: 1rem; /* Adds padding under the image */
    }
  }
  .great-vibes-regular {
    font-family: "Great Vibes", serif;
    font-weight: 400;
    font-style: normal;
  }
  
