<section id="home" class="h-screen text-white">
  <header class="absolute inset-x-0 top-0 z-50">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex flex-1">
        <a href="#home" class="-m-1.5 p-1.5">
          <h3 class="text-lg sm:text-xl great-vibes-regular">JS</h3>
        </a>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="#about" class="text-sm sm:text-base font-semibold">About Me</a>
        <a href="#projects" class="text-sm sm:text-base font-semibold">Projects</a>
        <a href="#resume" class="text-sm sm:text-base font-semibold">Resume</a>
        <a href="#contact" class="text-sm sm:text-base font-semibold">Contact</a>
      </div>
      <div class="lg:hidden">
        <button id="openMenu" type="button" class="p-2.5 text-gray-300">
          <span class="sr-only">Open menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
    </nav>

    <!-- Mobile menu -->
    <div id="mobileMenu" class="hidden fixed inset-0 z-50 bg-gray-800/95">
      <div class="fixed inset-y-0 right-0 w-full max-w-sm bg-gray-900 px-6 py-6 sm:ring-1 sm:ring-gray-700">
        <div class="flex items-center justify-between">
          <a href="#home" class="-m-1.5 p-1.5">
            <h3 class="text-lg sm:text-xl great-vibes-regular">JS</h3>
          </a>
          <button id="closeMenu" type="button" class="p-2.5 text-gray-300">
            <span class="sr-only">Close menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="mt-6">
          <a href="#about" class="block text-sm sm:text-base font-semibold">About Me</a>
          <a href="#projects" class=" block text-sm sm:text-base font-semibold">Projects</a>
          <a href="#resume" class="block text-sm sm:text-base font-semibold">Resume</a>
          <a href="#contact" class="block text-sm sm:text-base font-semibold">Contact</a>
        </div>
        <div class="mt-6">
          <a href="https://www.linkedin.com/in/jasmeet-salh-884486240/" class="block rounded-lg px-3 py-2.5 text-base font-semibold hover:bg-gray-700">
            <img class="w-6 h-6 inline mr-2" src="https://img.icons8.com/ios-filled/50/FFFFFF/linkedin.png" alt="LinkedIn">LinkedIn
          </a>
          <a href="https://github.com/jasmeetSSalh" class="block rounded-lg px-3 py-2.5 text-base font-semibold hover:bg-gray-700">
            <img class="w-6 h-6 inline mr-2" src="https://img.icons8.com/ios/500/FFFFFF/github--v1.png" alt="GitHub">GitHub
          </a>
          <a href="mailto:jasmeet.salh@gmail.com" class="block rounded-lg px-3 py-2.5 text-base font-semibold hover:bg-gray-700">
            <img class="w-6 h-6 inline mr-2" src="https://img.icons8.com/ios-filled/500/FFFFFF/gmail-new.png" alt="Gmail">Email
          </a>
        </div>
      </div>
    </div>
  </header>

  <div class="flex flex-col lg:flex-row items-center mx-auto h-full text-center max-w-fit lg:w-8/12">
    <!-- Text Section -->
    <div class="flex flex-col items-center">
      <h1 class="text-4xl font-semibold">Hello! I'm Jasmeet</h1>
      <p class="text-lg">Developer | Designer | Creative</p>
      <p class="mt-6 text-lg sm:text-xl font-medium text-gray-300">
        I'm a software engineer intern with a passion for building impactful technology solutions and exploring creative projects.
      </p>
      <!-- <div class="mt-8 flex items-center justify-center gap-x-6">
        <a href="#about" class="bg-sky-600 text-white py-2 px-6 rounded-full text-sm font-semibold hover:bg-teal-700 transition-colors">About Me</a>
        <a href="https://docs.google.com/document/d/e/2PACX-1vQyZPul4OECKnLfL0Ze1mM8tK7i46TRxybvelw7ohWY1at4AME2eaIK8l0TAI0JPSwtq0mg6QtGJj2n/pub"  class="text-sm font-semibold text-gray-300">
          See Resume <span aria-hidden="true"> →</span>
        </a>
      </div> -->
     
    </div>
    
    <div class="flex flex-col items-center">
      <img src="assets/images/avatar.png" class="rounded-lg image-responsive" />
    </div>
  </div>
<!-- 
  <div class="w-full flex justify-center ">
    <div class="mr-2 p-2">
        <a href="mailto:jasmeet.salh@gmail.com" class="img-btn">
            <img class="social-media-icons w-12 h-12" src="https://img.icons8.com/ios-filled/500/FFFFFF/gmail-new.png" alt="gmail-new">
        </a>
    </div>
    <div class="mr-2 p-2">
        <a href="https://github.com/jasmeetSSalh" class="img-btn">
            <img class="social-media-icons w-12 h-12" src="https://img.icons8.com/ios/500/FFFFFF/github--v1.png" alt="github--v1"/>
        </a>
    </div>
    <div class="mr-2 p-2">
        <a href="https://www.linkedin.com/in/jasmeet-salh-884486240/" class="img-btn">
            <img class="social-media-icons w-12 h-12" src="https://img.icons8.com/ios-filled/50/FFFFFF/linkedin.png" alt="linkedin">
        </a>
    </div>
</div> -->
</section>