<section id="projects" class="min-h-fit	 text-white pb-16">

    <h1 id="Projects" class="text-5xl font-bold text-center  p-16">Projects</h1>

    <div class="flex flex-wrap justify-center">
                <!-- Project 1 -->
        <div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/3 px-4 mb-8 project-container">
            <div class="bg-white shadow-2xl rounded-lg overflow-hidden h-full transform transition duration-300 ease-in-out hover:scale-105 hover:shadow-lg">
                <div class="flex flex-col h-full">
                    <div class="flex-3">
                        <img class="object-cover w-full h-48" src="assets/images/Projects/featherWeather.png" alt="Feather Weather">
                    </div>
                    <div class="flex-7 p-6">
                        <h2 class="text-2xl font-semibold text-gray-800">Feather Weather</h2>
                        <p class="text-gray-600 mt-2 text-sm">The Feather Weather Application is a weather tracking web app that utilizes Node.js, Express.js, EJS, and Axios to provide real-time weather information for user-specified cities.</p>
                        <div class="card-actions text-center mt-6">
                            <a href="https://github.com/jasmeetSSalh/feather-weather" class="bg-sky-600 text-white py-2 px-6 rounded-full text-sm font-semibold hover:bg-teal-700 transition-colors">Source Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Project 3 -->
        <div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/3 px-4 mb-8 project-container">
            <div class="bg-white shadow-2xl rounded-lg overflow-hidden h-full transform transition duration-300 ease-in-out hover:scale-105 hover:shadow-lg">
                <div class="flex flex-col h-full">
                    <div class="flex-3">
                        <img class="object-cover w-full h-48" src="assets/images/Projects/Java Music Logo.jpg" alt="Music & Podcast Terminal Application">
                    </div>
                    <div class="flex-7 p-6">
                        <h2 class="text-2xl font-semibold text-gray-800">Music & Podcast Terminal Application</h2>
                        <p class="text-gray-600 mt-2 text-sm">Developed an advanced OOP-driven music and podcast terminal application in Java. Designed an intuitive command line interface for song and podcast selection by criteria like artist and genre, optimizing user experience and handling edge cases.</p>
                        <div class="card-actions text-center mt-6">
                            <a href="https://github.com/jasmeetSSalh/Terminal-Spotify-Clone" class="bg-sky-600 text-white py-2 px-6 rounded-full text-sm font-semibold hover:bg-teal-700 transition-colors">Source Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project 4 -->
        <div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/3 px-4 mb-8 project-container">
            <div class="bg-white shadow-2xl rounded-lg overflow-hidden h-full transform transition duration-300 ease-in-out hover:scale-105 hover:shadow-lg">
                <div class="flex flex-col h-full">
                    <div class="flex-3">
                        <img class="object-cover w-full h-48" src="assets/images/Projects/dataAnalytics.jpeg" alt="Data Visualization and Analysis Project">
                    </div>
                    <div class="flex-7 p-6">
                        <h2 class="text-2xl font-semibold text-gray-800">Data Visualization and Analysis Project</h2>
                        <p class="text-gray-600 mt-2 text-sm">In March and April 2023, our project leveraged Python and the Matplotlib library on GitHub to analyze the impact of Artificial Intelligence in academia, utilizing data from 100+ surveys for insightful data visualization and statistical analysis.</p>
                        <div class="card-actions text-center mt-6">
                            <a href="https://github.com/jasmeetSSalh/CPS412-ChatGPT-Analysis-Program" class="bg-sky-600 text-white py-2 px-6 rounded-full text-sm font-semibold hover:bg-teal-700 transition-colors">Source Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project 5 -->
        <div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/3 px-4 mb-8 project-container">
            <div class="bg-white shadow-2xl rounded-lg overflow-hidden h-full transform transition duration-300 ease-in-out hover:scale-105 hover:shadow-lg">
                <div class="flex flex-col h-full">
                    <div class="flex-3">
                        <img class="object-cover w-full h-48" src="assets/images/Projects/Timer.jpg" alt="Race Timer Application">
                    </div>
                    <div class="flex-7 p-6">
                        <h2 class="text-2xl font-semibold text-gray-800">Race Timer Application</h2>
                        <p class="text-gray-600 mt-2 text-sm">Athlete Race Manager, a Windows Forms app developed with Visual Basic.NET, serves to manage athlete data, races, and results. It employs technologies like Visual Basic.NET and Windows Forms for creating a platform to input athlete details, record race times, and display race results with medals and national flags.</p>
                        <div class="card-actions text-center mt-6">
                            <a href="https://github.com/jasmeetSSalh/Race-Timer-Application/tree/main" class="bg-sky-600 text-white py-2 px-6 rounded-full text-sm font-semibold hover:bg-teal-700 transition-colors">Source Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project 6 -->
        <div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/3 px-4 mb-8 project-container">
            <div class="bg-white shadow-2xl rounded-lg overflow-hidden h-full transform transition duration-300 ease-in-out hover:scale-105 hover:shadow-lg">
                <div class="flex flex-col h-full">
                    <div class="flex-3">
                        <img class="object-cover w-full h-48" src="assets/images/Projects/amazonWebscrapper.avif" alt="Amazon Web Scraper">
                    </div>
                    <div class="flex-7 p-6">
                        <h2 class="text-2xl font-semibold text-gray-800">Amazon Web Scraper</h2>
                        <p class="text-gray-600 mt-2 text-sm">This project is a simple web scraper designed to extract product information from an Amazon product page, monitor changes in the product's price over time, and store the collected data in a CSV file. The script utilizes Python and popular libraries such as BeautifulSoup for web scraping and Pandas for data manipulation.</p>
                        <div class="card-actions text-center mt-6">
                            <a href="https://github.com/jasmeetSSalh/Amazon-Web-Scraper" class="bg-sky-600 text-white py-2 px-6 rounded-full text-sm font-semibold hover:bg-teal-700 transition-colors">Source Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project 7 -->
        <div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/3 px-4 mb-8 project-container">
            <div class="bg-white shadow-2xl rounded-lg overflow-hidden h-full transform transition duration-300 ease-in-out hover:scale-105 hover:shadow-lg">
                <div class="flex flex-col h-full">
                    <div class="flex-3">
                        <img class="object-cover w-full h-48" src="assets/images/Projects/Roomies Logo.jpg" alt="Roomies: Roommate Management Mobile App">
                    </div>
                    <div class="flex-7 p-6">
                        <h2 class="text-2xl font-semibold text-gray-800">Roomies: Roommate Management Mobile App</h2>
                        <p class="text-gray-600 mt-2 text-sm">Roomies is a dynamic and user-friendly mobile application designed to simplify the complexities of roommate management. Developed using Visual Basic with a strong foundation in Object-Oriented Programming (OOP) practices, the app provides a robust and feature-rich experience for users navigating various aspects of shared living spaces.</p>
                        <div class="card-actions text-center mt-6">
                            <a href="https://github.com/jasmeetSSalh/Roomies" class="bg-sky-600 text-white py-2 px-6 rounded-full text-sm font-semibold hover:bg-teal-700 transition-colors">Source Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
