<!-- Container for the iframe -->
<section id="resume" class="h-screen text-white space-y-4">

    <h1 id="Projects" class="text-5xl font-bold text-center text-gray-300">Resume</h1>

    <!-- Resume Button -->
    <div class="flex justify-center">
        <a href="https://docs.google.com/document/d/e/2PACX-1vQyZPul4OECKnLfL0Ze1mM8tK7i46TRxybvelw7ohWY1at4AME2eaIK8l0TAI0JPSwtq0mg6QtGJj2n/pub" 
           target="_blank" 
           class="  text-white rounded-lg font-semibold hover:bg-black-600 transition duration-300 shadow-lg">
           View Full Resume
        </a>
    </div>

    <!-- PDF Container -->
    <div class="pdf-container w-full h-full mt-6">
        <iframe src="https://docs.google.com/document/d/e/2PACX-1vQyZPul4OECKnLfL0Ze1mM8tK7i46TRxybvelw7ohWY1at4AME2eaIK8l0TAI0JPSwtq0mg6QtGJj2n/pub?embedded=true" 
                frameborder="0" 
                class="w-full h-full">
        </iframe>
    </div>
     

</section>
